<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Home</title>
  </head>
  <body>
    <style>
      .table-container {
        padding: 15px 20px;
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }

      th,
      td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      tr:hover {
        background-color: coral;
      }
    </style>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/create">News</a>
    </div>
    <div class="table-container">
      <div style="padding: 15px; text-align: center; font-size: 20px">
        List user
      </div>
      <table>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Name</th>
          <th>City</th>
          <th>Action</th>
        </tr>

        <% listUsers.forEach(function(users, index) { %>
        <tr>
          <td><%=index+1 %></td>
          <td><%=users.email %></td>
          <td><%=users.name %></td>
          <td><%=users.city %></td>
          <td>
            <button>Edit</button>
            <button>Delete</button>
          </td>
        </tr>
        <% }); %>
      </table>
    </div>

    <!-- <div>
      <div class="form-add-new">
        <form action="/create-user" method="GET">
          <fieldset>
            <legend>Add new user</legend>

            <div class="input-group">
              <label for="">Email: </label>
              <input type="text" name="email" />
            </div>
            <div class="input-group">
              <label for="">Name: </label>
              <input type="text" name="name" />
            </div>
            <div class="input-group">
              <label for="">City: </label>
              <input type="text" name="city" />
            </div>
            <button>Save</button>
          </fieldset>
        </form>
      </div>
    </div> -->
  </body>
</html>
